.env
__pycache__/
tmp*
.pytest_cache/
*.parquet
data_*
logs/
lpce/tests/processed/*
lpce/tests/separated/*
lpce/tests/bioml/*
lpce/tests/separated_fixed/*
lpce/tests/final/*
data/filtered_ligands.json
data/site_info.json
data/grouped_complexes.json
data/removed_ligands_summary.json
data/identical_groups.json
data/removed_files.json
lpce.egg-info/
.DS_Store
.ruff_cache/
.mypy_cache/
