.env
__pycache__/
tmp*
.pytest_cache/
*.parquet
logs/
lpce/tests/processed/*
lpce/tests/separated/*
lpce/tests/bioml/*
lpce/tests/test_data/*

data/filtered_ligands.json
data/site_info.json
data/grouped_complexes.json
data/removed_ligands_summary.json
data/identical_groups.json

.DS_Store
.ruff_cache/
.mypy_cache/
